:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.word-card {
  margin-left: 2rem;
  margin-top: 2rem;
}

.sorting-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 10px;
}

.wordList {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
}

.card {
  background-color: rgb(146, 227, 150);
  margin-left: 2rem;
  margin-top: 2rem;
  width: 13rem;
}
