<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Wortschatz-Trainer</span>
    <span class="example-spacer"></span>
    <a routerLink="/erfassen"
      ><button mat-raised-button color="warn" class="navbar-button">
        Erfassen
      </button></a
    >
    <a routerLink="/trainieren"
      ><button mat-raised-button color="warn" class="navbar-button">
        Trainieren
      </button></a
    >
    <a routerLink="pruefung"
      ><button mat-raised-button color="warn" class="navbar-button">
        Prüfung
      </button></a
    >
  </mat-toolbar-row></mat-toolbar
>
